<h1> <i class='{{ icon }}'></i>{{ title }} </h1>
<h2>Compétences</h2>
<div id="project_skills">
	<div>
		<li>Création de librairie statique</li>
		<li>Makefile</li>
	</div>
	<div>
		<li>Algorithm</li>
		<li>Rigor</li>
	</div>
</div>
<p>
Ce premier projet de 42 nous demande de recoder un grand nombre de fonctions de la bibliothèque C standard, ainsi que d'autres fonctions utilitaires que nous réutiliserons tout au long de notre cursus.
</p>
<p>
Nous avons comme contrainte un nombre minimal de fonctions autorisées (write et malloc), ce qui nous permet de découvrir en profondeur les spécifitiés du langage C, ses fonctions standards, leurs éventuels défauts et leurs alternatives.
</p>
<p>
Nous sommes encouragés à maintenir cette bibliothèque et l'agrémenter selon nos besoins.
Savoir concevoir des fonctions génériques si besoin à l'aide de casts judicieux pour les réutiliser est le coeur de ce projet.
</p>
