<div class="row">
	<div class="column middle main-img">
		<img id="soge_entrance" style="object-fit: cover" src="assets/img/soge_entrance.webp" alt="Soge entrance" (click)="op.toggleFullscreen($event)">
	</div>
	<div class="column middle textbox">
		<h1>
			{{ title }}
		</h1>
		<p>
		J'ai travaillé pendant deux ans en alternance pour 
		<a href='https://www.lyxor.com/' target='_blank'>
			Lyxor Asset Management
		</a>
		, filiale de la société générale.
		</p>
		<p>
		Ma mission consistait à développer des applications pour faciliter le traitement des demandes vers le service client et inter-services. J'ai ainsi développé et maintenu la partie gestion des utilisateurs de l'intranet du service, ainsi que la gestion des  demandes et priorités.
		</p>
		<p>
		Je devais aussi m'occuper de la création des comptes utilisateurs sur les différents modules et progiciels ainsi que la gestion de leurs droits.
		</p>
		<p>
		Chaque nouvelle fonctionnalité devait être accompagnée d'une documentation claire la décrivant et d'un protocole pour l'utiliser. 
		</p>
		<h1> Compétences </h1>
		<div id="project_skills">
			<div>
				<li>HTML - CSS - PHP - Javascript</li>
				<li>Angular</li>
				<li>Langage C - Unix</li>
			</div>
			<div>
				<li>Unix</li>
				<li>Git</li>
			</div>
		</div>
	</div>
</div>
