.grid
{
	display: grid;
	grid-template-columns: 40% 40%;
	grid-template-rows: 20% 20% 20%;
	grid-column-gap: 2.5%;
	grid-row-gap: 5%;
	align-content: center;
}

.projets
{
	border-radius: 20px;
	border: 4mm ridge DarkRed;
	border: 10px ridge #ed982a;
	border: 28px outset #204051;
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: black;
	color: green;
	font-family: 'VT323', monospace;
	font-size: 30px;
	position: relative;
}

.projets_short{
	display: none;
	font-weight: bold;
	font-size: 2vh;
	height: 30px;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}

.circle {
	height: 20px;
	width: 20px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	bottom: -23px;
}

@media screen and (min-width: 320px) {
	body {
		font-size: calc(30px + 6 * ((100vw - 320px) / 680));
	}
}
@media screen and (min-width: 600px) {
	.projets{
		font-size: 20px;
	}
}

@media screen and (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

@media (max-width: 600px) {
	.textbox{
		width: 80%;
	}
}

.project_content
{
	max-height: 120px;
	display: block;
	padding-top: 7%;
}

.active
{
	background-color: green;
	color: white;
}
.projets_short a{
	color: white;
}

.projets_short .active{
	color: #ed982a;
}

@media (max-width: 600px) {
	.grid{
		display: flex;
		left: 0;
		width: 50px;
		height: 100%;
	}
	.active{
		background-color: #204051;
	}
	.projets{
		display: none;
	}
	.projets_short{
		display: flex;
	}
	.projets_container{
		display: none;
	}
}

@media (max-width: 400px) {
	.grid{
		width: 20px;
	}
}

p
{
	vertical-align: middle;
}

/* Borders*/
$bg-color: #3b6978;
$accent-color: #962d3e;

@mixin v-h-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.o-title--primary {
	font-size: 3em;
	font-family: 'VT323';
	font-weight: 400;
	text-align: center;
	color: #979c9c;
	@include v-h-center;
	margin-top: -1.5em;
}

.c-links {
	margin: 0;
	padding: 0;
	text-align: center;
	@include v-h-center;
}

$border-width: 2px;
$padding-width: 2px;
$corner-size: 50px;
$border-radius: 20px;

.btn--corners {
	position: relative;
	margin: 0;
	padding: $padding-width;
	font-size: 18px;
	text-align: center;
	vertical-align: top;
	font-weight: 400;
	border: $border-width solid $accent-color;
}

.btn--corners:not(:last-child) {
	margin-right: 2px;
}

.btn--corners::before,
.btn--corners::after {
	content: "";
	position: absolute;
	background-color: $bg-color;
	z-index: 0;
	transition: 200ms ease-in;
	transform-origin: center center;
}

.c-links:target .btn--corners::before,
.c-links:target .btn--corners::after {
	background-color: rgba(0, 0, 0, 0.6);
	transition-duration: 600ms;
}

.btn--corners::before {
	width: calc(100% + #{$border-width} * 2 - #{$corner-size});
	height: calc(100% + #{$border-width} * 2);
	top: -$border-width;
	left: 50%;
	transform: translateX(-50%);
}

.btn--corners::after {
	height: calc(100% + #{$border-width} * 2 - #{$corner-size});
	width: calc(100% + #{$border-width} * 2);
	left: -$border-width;
	top: 50%;
	transform: translateY(-50%);
}

.btn--corners:hover::before {
	width: 0;
}

.btn--corners:hover::after {
	height: 0;
}

.btn--corners p {
	position: relative;
	display: inline-block;
	color: #979c9c;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1em;
	font-size: 1em;
	padding: 5px 20px;
	margin: 0 2px;
	z-index: 1;
	@include v-h-center;
}

.btn--corners a::after {
	content: attr(data-number);
	display: block;
	font-family: 'VT323';
	font-style: italic;
}

.btn--primary {
	background: $accent-color;
	color: #979c9c;
	padding: 10px 40px;
	text-decoration: none;
	@include v-h-center;
	margin-top: 6em;
}

.fillit_logo{
	height:16px;
	width:32px;
	fill: white;
}

.projets_short .active svg {
	fill: #ed982a;
}
