<h1> <i class='{{ icon }}'></i>{{ title }} </h1>
<h2>Compétences</h2>
<div id="project_skills">
	<div>
		<li>Parsing</li>
		<li>Fonctions variadiques</li>
	</div>
	<div>
		<li>Algorithm</li>
		<li>Rigor</li>
		<li>Unix</li>
	</div>
</div>
<p>
42, dans sa grande mansuétude, nous autorise à utiliser la fonction printf pour l'affichage de nos programme... à condition de l'avoir codée nous même !
</p>
<p>
C'est une bonne manière de découvrir les fonctions variadiques et leur utilité par l'intermédiaire de stdarg.
En tant que premier projet de la branche algorithmique il est aussi une introduction au parsing et aux bonnes pratiques : développer par parties modulaires dans un code bien structurée, basé sur des structures de données adaptées, pour qu'il soit extensible dans le futur.
En effet printf sera inclus dans notre libft et réutilisé pour tous les futurs projets.
</p>
<p>
C'est donc un bon exercice pour la conception d'un “dispatcher” basique implémenté en C à l’aide d’un tableau de pointeurs sur fonctions.
</p>
