<div class="row">
	<div class="column side">
	</div>
	<div class="column middle main-img">
		<img id="42_paris" style="object-fit: cover" src="/assets/img/42cluster1.jpg" alt="42 Paris" (click)="op.toggleFullscreen($event)">
	</div>
	<div class="column middle textbox">
		<h1>
			<svg version="1.1"
				 id="Calque_1" sodipodi:docname="42_logo.svg" inkscape:version="0.48.2 r9819" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
				 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 -200 960 960"
																											   enable-background="new 0 -200 960 960" xml:space="preserve"
																											   class="logo_42">
				<polygon id="polygon5" points="32,412.6 362.1,412.6 362.1,578 526.8,578 526.8,279.1 197.3,279.1 526.8,-51.1 362.1,-51.1 
							 32,279.1 "/>
				<polygon id="polygon7" points="597.9,114.2 762.7,-51.1 597.9,-51.1 "/>
				<polygon id="polygon9" points="762.7,114.2 597.9,279.1 597.9,443.9 762.7,443.9 762.7,279.1 928,114.2 928,-51.1 762.7,-51.1 "/>
				<polygon id="polygon11" points="928,279.1 762.7,443.9 928,443.9 "/>
			</svg>
			{{ title }}
		</h1>
		<p> 
		<a href='http://42.fr' target='_blank'>
			42
		</a>
		est une formation en informatique créée en 2013 à l'initiative de Xavier Niel.
		Elle s’est lancée à l’international depuis peu et compte maintenant 29 campus pour 2020 dont 4 en France.
		</p> 
		<p> 
		A l'issue d'un examen d'entré, un pourcentage d'admis entame un cursus qui consiste principalement en une succession de projets à la difficulté croissante.
		</p>
		<p> 
		Sa pédagogie est basée sur le peer-to-peer learning : un fonctionnement participatif, sans cours, sans professeur. Ce dernier point peut intriguer mais précisément ce fonctionnement particulier met réellement à l'honneur les autodidactes en leur permettant d'apprendre comme il leur souhaite et de stimuler leur créativité.
		</p>
		<p>
		42 impose à leurs étudiants leur propre norme et met un point d'honneur à nous inculquer la rigueur dans notre travail. Il n'y a pas de petites erreurs dans les rendus et une approximation mènera la plupart du temps à l'invalidation du projet entier.
		</p>
	</div>
	<div class="column side">
		<a routerLink='/projets/42sh'><i class="arrow right"></i></a>
	</div>
</div>
