<h1> <i class='{{ icon }}'></i>{{ title }} </h1>
<h2>Compétences</h2>
<div id="project_skills">
	<div>
		<li>Analyse lexicale</li>
		<li>Analyse Syntaxique</li>
		<li>Analyse Sémantique</li>
	</div>
	<div>
		<li>Unix</li>
		<li>Programmation Impérative</li>
	</div>
</div>
<p>
42sh est le projet le plus enrichissant que j'ai réalisé à 42, il consiste à créer de toutes pièces un shell complet.
</p>
<p>
C'est le dernier projet d'une suite consistant à développer un shell minimaliste pour le faire évoluer progressivement.
En partant d'une implémentation simple d'une boucle REPL (Read Eval Print Loop), j'ai appris à établir une grammaire et construire un lexer-parser LL associé.
Cela m'a permis de me familiariser avec les automates et la manipulation d'arbres de syntaxes abstraites (AST).
C'est sûrement la partie du projet que j'ai préféré car il y a beaucoup de notions théoriques intéressantes sous-jacentes, comme la manière de créer un langage ou
le fonctionnement d'un compilateur.
</p>
<p>
J'ai aussi pu apprendre la création, la synchronisation et la gestion de processus (job control).
</p>
<p>
Le module d'édition de la ligne de commande et la plupart des éléments visuels ont été implémentés en prenant
<a href="https://www.gnu.org/software/bash/" target="blank">
	bash 
</a>
comme shell de référence, à l'exception du
module d'autocomplétion qui reproduit le comportement de celui de
<a href="http://zsh.org/" target='_blank'>
	zsh.
</a>
La partie visuelle a été créée exclusivement en utilisant la bibliothèque
<a href="https://www.gnu.org/software/termutils/manual/termcap-1.3/html_mono/termcap.html" target="_blank">
	termcaps
</a>
, les contraintes du sujet interdisant la bibliothèque ncurses.
</p>
