<div id='home'>
	<div id='home-text' class='textbox'>
		<h2> A propos de moi</h2>
		<p>
		En formation à 42, je suis actuellement à la recherche d'un stage de 6 mois en tant que développeur Web. 
		</p>
		<p>
		Plus qu'un métier, l'informatique est pour moi une passion depuis petit et je
		suis ravi de pouvoir la pratiquer dans un contexte professionnel.
		</p>
		<p>
		M'étant familisé en autodidacte aux distributions GNU/Linux (Archlinux, Debian) c'est naturellement que je me suis tourné vers la programmation par mon intéret pour le développement logiciel.
		</p>
		<p>
		Comme 42 nous a fait développer nos projets exclusivement en C, j'ai créé ce site pour apprendre à utiliser le framework Angular.
		</p>
	</div>
	<div class="left-img">
	</div>
</div>
