<h1> <i class='{{ icon }}'></i>{{ title }} </h1>
<h2>Compétences</h2>
<div id="project_skills">
	<div>
		<li>Filesystem</li>
		<li>Parsing</li>
	</div>
	<div>
		<li>Unix</li>
		<li>System</li>
		<li>Algorithm</li>
	</div>
</div>
<p>
Ls est le premier projet de la branche système. En tant que tel il demande de coder une des commandes les plus utilisée du système Unix, qui permet de lister les fichiers et leurs attributs, avec le strict minimum de fonctions existantes.
</p>
<p>
Il permet de découvrir comment interragir avec le système de fichier depuis un programme en C via l'API du système d'exploitation. 
</p>
<p>
Mais le projet ne se limite pas à imiter fidèlement un binaire existant, le point central pour réussir ls sans devoir refactoriser une grande partie du code est la réflexion
préalable au développement et le design initial, ce qui est un prérequis nécessaire pour réussir n'importe quel projet de la branche système.
</p>
<p>
Un autre point important étant l'optimisation, je me suis penché sur les différents algorithmes de tri. J'ai finalement opté pour le tri fusion qui est efficace et se monte naturellement sur les listes chainées, afin que le temps de réponse soit le plus faible possible.
</p>
